<div id="cart-feedback">
	<div class="container">
		<div class="eight columns">
			<div class="cart-review">
				{{ pages.cart-review-1.content }}
			</div>
			<hr/>
			<div class="cart-review">
				{{ pages.cart-review-2.content }}
				</div>
			</div>
			<div class="eight columns">
				<div class="cart-review">
					{{ pages.cart-review-3.content }}
				</div>
				<hr/>
				<div class="cart-review">
					{{ pages.cart-review-4.content }}
				</div>
			</div>
		</div>
	</div>