{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<p class="shipping-popover-btn" id="shipping-popover-button-mobile" data-layout="desktop">
	<ly-as-2504525>Shipping to</ly-as-2504525>  <span class="current-shipping"></span>
</p>